Source: openvstorage-cinder-plugin
Maintainer: Jonas Libbrecht <jonas.libbrecht@openvstorage.com>
Standards-Version: 3.9.4.0
Section: python
Priority: optional
Build-Depends: python-all (>= 2.7.2), debhelper (>= 9)

Package: openvstorage-cinder-plugin
Architecture: amd64
Description: OpenvStorage Cinder and Nova driver for OpenStack

